<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      *{
        text-align: center;
      }
      img{
        max-width: 250px;
        max-height: 250px;
      }
      .card{
        border: solid grey 1em;
        margin: 2em;
      }
    </style>
  </head>
  <body>
    <h1>Book Discussion</h1>
    <a href="/createbook">Add a new book</a>
    <% for(let i=0; i<books.length; i++){ %>
    <div class="card">
      <h1> <%= books[i].title %> </h1>
      <img src="<%= books[i].img_url %>" alt="Book Cover">
      <p> <%= books[i].description %> </p>
      <a href="/discuss/<%=books[i].id %>">Discuss</a>
    </div>
    <% } %>
  </body>
</html>
